
p {
	font-family: "verdana", sans-serif;
	color: #778899
}
.text-center {
	font-family: 'Copperplate', sans-serif;
	color: #808080;
}

.illustrations {
	font-family: 'Copperplate', sans-serif;
	color: #808080
}

.photography {
	font-family: 'Copperplate', sans-serif;
	color: #808080
}
.videography {
	font-family: 'Copperplate', sans-serif;
	color: #808080
}

* {
	margin: 0; padding: 0;
}
  
body {
    <!-- src: http://subtlepatterns.com/?p=1045 -->
    background: url('dark_geometric.png');
}
 
#container {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto;
    background: white;
}

/*
	========================================
	Buttons
	========================================
*/


}

.btn {
	border-radius: 5px;
	display: inline-block;
	margin: 100;
	background-image: url(spacewomynsigned.jpg) no-repeat;
}
.btn-alt {
	border: 1px solid #dfe2e5;
	padding: 100px 300px;
	  









}